{{>main}}
<html>
    <head>

    </head>
    <body>
        <form method="post"  enctype="multipart/form-data" class="content-wrapper">
                <div class="row">
                <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                    <h3 class="card-title">Product Information</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                        </button>
                    </div>
                    </div>
                    <div class="card-body">
                    <div class="form-group">
                        <label for="inputName">Product Name</label>
                        <input type="text" value="{{mypdata.product_name}}" class="form-control" name="productname">
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Product Details</label>
                        <input type="text" name="productdetails" value="{{mypdata.product_detail}}" class="form-control" >
                    </div>
                   
                    <div class="form-group">
                        <label for="inputClientCompany">Product Price</label>
                        <input type="number"class="form-control" value="{{mypdata.product_price}}" name="productprice">
                    </div>
                    <div class="form-group">
                        <label for="inputProjectLeader">Project Image</label>
                        <input type="file" class="form-control" value="{{mypdata.product_photo}}" name="productphoto">
                    </div>
                    <div class="form-group">
                        <label for="inputProjectLeader">SubCategory Name</label>
                        <select name="_subcategory" class="form-control">
                            {{#each mysdata}}
                                <option value="{{_id}}">{{subcategory_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" >Submit</button>
                    </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                </div>
               
            </div>
            
        </form>
    </body>
</html>